<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{url_for('static',path='/css/app.css')}}" rel="stylesheet" />
    <script src="{{url_for('static',path='/js/htmx.min.js')}}"></script>
    <script src="{{url_for('static',path='/js/sse.min.js')}}"></script>
    <title>FastAPI/HTMX RAG</title>
  </head>
  <body>
    <div class="p-6 mx-auto max-w-screen-lg">
      <h1 class ="text-3xl font-bold mx-auto w-fit">
        FastAPI/HTMX Retrieval Augmented Generation (RAG)
      </h1>
      <div id="content" class="p-4 w-full">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
