<h2 class="text-2xl font-bold mx-auto w-fit">Available Collections</h2>

<div class="p-2 flex flex-wrap justify-center gap-2">
  {% for collection in collections %}
  <div
    class="bg-slate-50 border-4 border-slate-200 rounded-xl p-3 w-5/12 hover:shadow-md hover:shadow-slate-400 cursor-pointer"
    hx-get="/collections/{{collection.slug}}"
    hx-push-url="true"
    hx-target="#content"> 
    <p class="text-xl font-bold mx-auto w-fit text-center">{{collection.name}}</p>
    <p class="text-md mx-auto w-fit text-center">{{collection.description}}</p>
  </div>
  {% endfor %}
</div>
